.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 5;
}

.product-inner-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

img {
    height: 100px;
}

.totals {
    padding: 2rem;
    flex: 1;
}

button {
    margin-left: .5rem;
}
