<div class="mat-display-3" style="background-color: #d6d6d6;
          padding: 20px;
          color: #a7181b;
          text-align: center;" *ngIf="orders.length < 1">
    There are no orders placed
</div>
<mat-tab-group mat-stretch-tabs class="tabs mat-elevation-z5" *ngIf="orders.length > 0">
    <mat-tab label="Unfulfilled">
        <div *ngFor="let order of orders">
            <div *ngIf="!order.isFullfilled">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>{{ order.customerName }}</strong>
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>E: {{ order.email }}</strong>
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>P: {{ order.phone }}</strong>
                            </mat-panel-title>
                            <mat-panel-title class="panel-buttons">
                                <a href="mailto:{{ order.email }}?subject=RE:Art_Order"><button mat-stroked-button>Reply</button></a>
                                <button mat-stroked-button (click)="onIsFulfilled(order.orderId, order.isFullfilled)">Mark as Fulfilled</button>
                                <button mat-stroked-button (click)="openDialog(order.orderId)" color="warn">Delete</button>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="main-container">
                            <div class="product-main-container">
                                <div class="product-inner-container" *ngFor="let product of order.products">
                                    <div class="product">
                                        <img src="{{product.image}}" alt="{{product.name}}">
                                    </div>
                                    <div class="details">
                                        <p>Product: {{ product.name }} </p>
                                        <p>Type: {{ product.type }} </p>
                                        <p>Size: {{ product.size }} </p>
                                    </div>
                                    <div class="price">
                                        <p>Quantity: {{ product.quantity }} </p>
                                        <p>Price: {{ product.price }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="totals">
                                <p>Subtotal: {{ order.subTotal }}</p>
                                <p>Discount: {{ order.discount }}</p>
                                <p>Shipping: {{ order.shipping }}</p>
                                <p>Tax: {{ order.tax }}</p>
                                <p>Total: <strong>{{ order.total }}</strong></p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Fulfilled">
        <div *ngFor="let order of orders">
            <div *ngIf="order.isFullfilled">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>{{ order.customerName }}</strong>
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>E: {{ order.email }}</strong>
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>P: {{ order.phone }}</strong>
                            </mat-panel-title>
                            <mat-panel-title class="panel-buttons">
                                <a href="mailto:{{ order.email }}?subject=RE:Art_Order"><button mat-stroked-button>Reply</button></a>
                                <button mat-stroked-button (click)="onIsFulfilled(order.orderId, order.isFullfilled)">Mark as Unfulfilled</button>
                                <button mat-stroked-button (click)="openDialog(order.orderId)" color="warn">Delete</button>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="main-container">
                            <div class="product-main-container">
                                <div class="product-inner-container" *ngFor="let product of order.products">
                                    <div class="product">
                                        <img src="{{product.image}}" alt="{{product.name}}">
                                    </div>
                                    <div class="details">
                                        <p>Product: {{ product.name }} </p>
                                        <p>Type: {{ product.type }} </p>
                                        <p>Size: {{ product.size }} </p>
                                    </div>
                                    <div class="price">
                                        <p>Quantity: {{ product.quantity }} </p>
                                        <p>Price: {{ product.price }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="totals">
                                <p>Subtotal: {{ order.subTotal }}</p>
                                <p>Discount: {{ order.discount }}</p>
                                <p>Shipping: {{ order.shipping }}</p>
                                <p>Tax: {{ order.tax }}</p>
                                <p>Total: <strong>{{ order.total }}</strong></p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>