<h1 style="text-align: center;" mat-dialog-title>Thank you for your order</h1>
<h2 mat-dialog-title>We are still working on integrating online payment options</h2>
<h3 mat-dialog-title>The artist will be notified of your order and will contact you as soon as possible</h3>
<h3 mat-dialog-title>Please enter the information below and click <strong> confirm</strong></h3>
<form [formGroup]="orderForm" (ngSubmit)=onSubmit()>
    <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput id="name" formControlName="name" type="text">
    </mat-form-field>
    <span class="invalid-input" *ngIf="!orderForm.get('name')!.valid && orderForm.get('name')!.touched">name is required</span><br><br>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
    </mat-form-field>
    <span class="invalid-input" *ngIf="!orderForm.get('email')!.valid && orderForm.get('email')!.touched">must be a valid email</span><br>
    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phone" type="text">
    </mat-form-field>
    <span class="invalid-input" *ngIf="!orderForm.get('phone')!.valid && orderForm.get('phone')!.touched">must be a valid phone with only numbers</span>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="orderForm.value" [disabled]="!orderForm.valid">Confirm</button>
    </mat-dialog-actions>
</form>