.main-container {
    display: flex;
}

img {
    height: 100px;
}

table {
    flex: 5;
}

.totals {
    padding: 50px;
    flex: 1;
}

.checkout {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .totals {
        align-self: center;
    }
}