<div class="mat-display-3" style="background-color: #d6d6d6;
          padding: 20px;
          color: #a7181b;
          text-align: center;" *ngIf="cart.length === 0">
    {{ cartStatus }}
</div>
<div class="main-container" *ngIf="cart.length > 0">
    <table mat-table [dataSource]="cart" class="mat-elevation-z8">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let cartItem"> <img src="{{ cartItem.image }}" alt="{{ cartItem.name }}"> </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let cartItem">
                <p>Name: {{ cartItem.name }}</p>
                <p>Type: {{ cartItem.type }}</p>
                <p>Size: {{ cartItem.size }}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let cartItem">
                <input type="number" (blur)="onChangeQuantity(cartItem.inCartProductId, $event)" min="1" max="10" value="{{ cartItem.quantity }}" [disabled]="cartItem.type==='original'">
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let cartItem">
                <h2>${{ cartItem.price }}.00</h2>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let cartItem">
                <button mat-fab color="primary" (click)="onDeleteProduct(cartItem.inCartProductId, cartItem.productId, cartItem.quantity)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="totals" *ngIf="cart.length > 0">
        <table>
            <tr>
                <th>
                    <div class="mat-headline">Summary</div>
                </th>
                <th>
                    <div class="mat-headline">$</div>
                </th>
            </tr>
            <tr>
                <th>
                    <mat-divider></mat-divider>
                </th>
                <th>
                    <mat-divider></mat-divider>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="mat-title">Subtotal:</div>
                </td>
                <td>
                    <div class="mat-title">${{ cartTotals.subTotal}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mat-title">Discount:</div>
                </td>
                <td>
                    <div class="mat-title">${{ cartTotals.discount }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mat-title">Shipping:</div>
                </td>
                <td>
                    <div class="mat-title">TBD</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mat-title">Tax:</div>
                </td>
                <td>
                    <div class="mat-title">${{ cartTotals.tax }}</div>
                </td>
            </tr>
            <tr>
                <th>
                    <mat-divider></mat-divider>
                </th>
                <th>
                    <mat-divider></mat-divider>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="mat-title">Total:</div>
                </td>
                <td>
                    <div class="mat-title">${{ cartTotals.total }}</div>
                </td>
            </tr>
        </table>
        <button class="checkout" (click)="onCheckout()" mat-raised-button color="primary">Checkout</button>
    </div>
</div>