.main-container {
    display: flex;
    justify-content: center;
}

.tabs {
    width: 80rem;
    padding: 10px;
}

.panel-buttons {
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: .5rem;
}

.body-buttons {
    display: none;
}

button {
    margin-left: .5rem;
}

@media screen and (max-width: 800px) {
    .panel-buttons {
        display: none;
    }
    .body-buttons {
        display: block;
        margin-left: .5rem;
    }
}
