<div class="main-container">
    <mat-tab-group mat-stretch-tabs class="tabs mat-elevation-z5">
        <mat-tab label="Unread">
            <div *ngFor="let userMsg of userMsgs">
                <div *ngIf="!userMsg.isRead">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ userMsg.name }}
                                </mat-panel-title>
                                <mat-panel-title>
                                    <p>{{ (userMsg.subject.length>30)? (userMsg.subject | slice:0:30)+' ...':(userMsg.subject) }}</p>
                                </mat-panel-title>
                                <mat-panel-title class="panel-buttons">
                                    <a href="mailto:{{ userMsg.email }}?subject=RE: {{ userMsg.subject }}"><button mat-stroked-button>Reply</button></a>
                                    <button mat-stroked-button (click)="onMarkReadUnread(userMsg.messageId, userMsg.isRead)">Mark as Read</button>
                                    <button mat-stroked-button (click)="openDialog(userMsg.messageId)" color="warn">Delete</button>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>From: {{ userMsg.email }}</p>
                            <p>Subject: {{ userMsg.subject }}</p>
                            <p *ngIf="userMsg.artworkId">Artwork ID: {{ userMsg.artworkId }}</p><br>
                            <p>{{ userMsg.message }}</p><br>
                            <div class="body-buttons">
                                <a href="mailto:{{ userMsg.email }}?subject=RE: {{ userMsg.subject }}"><button mat-stroked-button>Reply</button></a>
                                <button mat-stroked-button (click)="onMarkReadUnread(userMsg.messageId, userMsg.isRead)">Mark as Read</button>
                                <button mat-stroked-button (click)="openDialog(userMsg.messageId)" color="warn">Delete</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Read">
            <div *ngFor="let userMsg of userMsgs">
                <div *ngIf="userMsg.isRead">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ userMsg.name }}
                                </mat-panel-title>
                                <mat-panel-title>
                                    <p>{{ (userMsg.subject.length>30)? (userMsg.subject | slice:0:30)+' ...':(userMsg.subject) }}</p>
                                </mat-panel-title>
                                <mat-panel-title class="panel-buttons">
                                    <a href="mailto:{{ userMsg.email }}?subject=RE: {{ userMsg.subject }}"><button mat-stroked-button>Reply</button></a>
                                    <button mat-stroked-button (click)="onMarkReadUnread(userMsg.messageId, userMsg.isRead)">Mark as Unread</button>
                                    <button mat-stroked-button (click)="openDialog(userMsg.messageId)" color="warn">Delete</button>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>From: {{ userMsg.email }}</p>
                            <p>Subject: {{ userMsg.subject }}</p>
                            <p *ngIf="userMsg.artworkId">Artwork ID: {{ userMsg.artworkId }}</p><br>
                            <p>{{ userMsg.message }}</p><br>
                            <div class="body-buttons">
                                <a href="mailto:{{ userMsg.email }}?subject=RE: {{ userMsg.subject }}"><button mat-stroked-button>Reply</button></a>
                                <button mat-stroked-button (click)="onMarkReadUnread(userMsg.messageId, userMsg.isRead)">Mark as Unread</button>
                                <button mat-stroked-button (click)="openDialog(userMsg.messageId)" color="warn">Delete</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
