<div class="mat-display-3">
    Contact the Artist
</div>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="!isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your information</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="nameCtrl" placeholder="Last name, First name" required>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="emailCtrl" placeholder="example@email.com" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Create the message</ng-template>
            <mat-form-field>
                <mat-label>Subject</mat-label>
                <input matInput formControlName="subjectCtrl" required>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Artwork ID</mat-label>
                <input matInput formControlName="artworkIdCtrl" placeholder="Recommended">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea rows="4" cols="50" matInput formControlName="messageCtrl" placeholder="Enter a detailed message" required></textarea>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSendMessage()" matStepperNext>Send</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Your message has been sent</p>
        <div>
            <button mat-button (click)="stepper.reset()">Create New Message</button>
            <button mat-button (click)="returnHome()">Return to Home Page</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
