<div class="main-container">
    <div class="header">
        <app-header></app-header>
        <div class="mat-display-3 banner">{{bannerText}}</div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
