.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 70%;
}

.banner {
    font-family: 'Trebuchet MS', 'Comic Sans MS';
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
    padding: 25px 0px 25px 0px;
}

.logo {
    max-height: 5rem;
    border-radius: 40%;
}
