.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    padding: 15px 0px 15px 0px;
    font-family: 'Trebuchet MS';
}

.logo {
    height: 120px;
    border-radius: 35%;
}

.smedia {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: white;
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    .social-media-icons {
        display: flex;
        flex-direction: column;
    }
}
