<div class="footer-container">
    <img class="logo" [src]="logoImgPath" [ngStyle]="{cursor: 'pointer'}" (click)="homePage()">
    <div class="text">
        <p>copyright - 2020</p>
    </div>
    <div class="social-media-icons">
        <a [href]="facebookHref" target="_blank"><img class="smedia" [src]="facebookImgSrc" alt="facebook"></a>
        <a [href]="instagramHref" target="_blank"><img class="smedia" [src]="instagramImgSrc" alt="instagram"></a>
        <a [href]="linkedinHref" target="_blank"><img class="smedia" [src]="linkedinImgSrc" alt="linkedin"></a>
    </div>
</div>