<div class="main-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>Artwork ID: {{ product.productId }}</mat-card-subtitle>
            <mat-card-title class="out-of-stock" *ngIf="!product.isOriginalAvailable && !product.isPrintAvailable">Temporarily out of stock</mat-card-title>
            <mat-card-subtitle class="out-of-stock" *ngIf="!product.isOriginalAvailable && !product.isPrintAvailable">Contact us for more more information (Contact tab)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ product.image }}" alt="Photo of {{ product.name }}">
        <mat-card-content>
            <p>
                {{ product.desc }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="onEdit(product.id)" [disabled]="isDisabled">Manage</button>
        </mat-card-actions>
    </mat-card>
    <form class="details" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Art Type</mat-label>
            <mat-select [formControl]="typeControl">
                <mat-option value="none">Choose an option</mat-option>
                <mat-option *ngIf="isOriginalAvailable" value="original">Original</mat-option>
                <mat-option *ngIf="isPrintAvailable" value="print">Print</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="mat-title" *ngIf="typeControl.value === 'original'">Size: {{ product.size }}</div>
        <mat-form-field appearance="fill" *ngIf="isPrintAvailable && typeControl.value === 'print'">
            <mat-label>Print Size</mat-label>
            <mat-select [formControl]="printSizeControl">
                <mat-option (click)="onSetPrintPrice(print.price)" *ngFor="let print of prints" [value]="print.size">
                    {{print.size}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isPrintAvailable && typeControl.value === 'print'">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [formControl]="quantityControl" min="1" max="10">
            <span matSuffix>prints</span>
        </mat-form-field>
        <div class="price"><span>Total: </span><span>${{ TotalPrice }}</span></div>
        <button mat-raised-button color="primary" type="submit" [disabled]="TotalPrice === 0 || (!product.isOriginalAvailable && !product.isPrintAvailable)">Add to Cart</button>
    </form>
</div>
