.main-container {
    display: flex;
    justify-content: center;
}

.header-image {
    background-image: url('../../../assets/images/logo.png');
    background-size: cover;
}

.card,
.details {
    max-width: 400px;
    margin-bottom: 20px;
}

.details {
    background-color: white;
    font-family: 'Trebuchet MS';
    font-size: large;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}

.price {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.out-of-stock {
    color: red;
}

@media screen and (max-width: 800px) {
    .details {
        padding: 0;
        padding-left: 10px;
    }
}