<h1 mat-dialog-title>This order will be permanently deleted</h1>
<div mat-dialog-content>Are you sure you want to delete?</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
