<button mat-raised-button color="primary" class="add-new-bttn" (click)="onAddNewProduct()" *ngIf="!isNewProduct">Add New Product</button>
<mat-card class="warning" *ngIf="!editProductForm.valid && editProductForm.touched">All Fields are required</mat-card><br>
<mat-card class="warning" *ngIf="!editProductForm.get('productId')!.valid && editProductForm.get('productId')!.touched">Product ID must be unique</mat-card>
<form [formGroup]="editProductForm" (ngSubmit)="onSubmit()" class="manage-product-form">
    <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput type="number" id="id" formControlName="id" [readonly]="true">{{ !isNewProduct ? '' : 'system-generated' }}
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Product ID</mat-label>
        <input matInput type="text" id="productId" formControlName="productId">
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" formControlName="name">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Price $</mat-label>
        <input matInput type="number" id="price" formControlName="price" min="0">
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <input matInput type="text" id="size" formControlName="size">
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill" *ngIf="!isNewProduct">
        <mat-label>Image</mat-label>
        <input matInput type="text" id="image" formControlName="image" [readonly]="true">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" id="desc" formControlName="desc">
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Is Original Available</mat-label>
        <mat-select formControlName="isOriginalAvailable">
            <mat-option [value]="product.isOriginalAvailable">{{product.isOriginalAvailable}}</mat-option>
            <mat-option [value]="!product.isOriginalAvailable">{{!product.isOriginalAvailable}}</mat-option>
        </mat-select>
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Is Print Available</mat-label>
        <mat-select formControlName="isPrintAvailable">
            <mat-option [value]="product.isPrintAvailable">{{product.isPrintAvailable}}</mat-option>
            <mat-option [value]="!product.isPrintAvailable">{{!product.isPrintAvailable}}</mat-option>
        </mat-select>
    </mat-form-field><br>
    <div class="mat-title">Prints</div>
    <div *ngFor="let print of product.prints">
        <blockquote>
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput type="number" [readonly]="true" [value]="print.printId">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Size</mat-label>
                <input matInput type="text" [readonly]="true" [value]="print.size">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Price $</mat-label>
                <input matInput type="number" [readonly]="true" [value]="print.price" min="0">
            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="warn" (click)="onDeletePrint(product.id, print.printId)">Delete Print</button>
        </blockquote>
    </div><br>
    <div class="mat-title">Add Print</div>
    <div *ngIf="!isNewProduct">
        <mat-form-field appearance="fill">
            <mat-label>Size</mat-label>
            <input matInput type="text" formControlName="printSize">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Price $</mat-label>
            <input matInput type="number" formControlName="printPrice" min="0">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" type="button" (click)="onAddPrint(product.id)">Add Print</button>
    </div>
    <mat-divider></mat-divider><br>
    <button mat-raised-button color="primary" class="update-bttn" type="submit" [disabled]="!editProductForm.valid">{{ !isNewProduct ? 'Update Product' : 'Create Product' }}</button>
    <button mat-raised-button color="warn" (click)="onDeleteProduct()" *ngIf="!isNewProduct">Delete Product</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancelNewProduct()" *ngIf="isNewProduct">Cancel</button>
</form>
