.prodImg {
    height: 100px;
}

.manage-product-form {
    margin: 20px;
}

.update-bttn {
    margin-right: 10rem;
}

.add-new-bttn {
    position: absolute;
    right: 20px;
}

.warning {
    color: red;
    border: solid red 1px;
    text-align: center;
}

@media screen and (max-width: 471px) {
    .update-bttn {
        margin-bottom: 1rem;
    }
}
