.mat-grid-list {
    margin: 2rem 6rem;
}

.mat-grid-tile {
    border: ridge .45rem;
    cursor: pointer;
}

.container {
    width: 100%;
    text-align: center;
}

.overlay {
    width: 100%;
}

.grid-item {
    height: 200%;
}

.grid-item:hover {
    height: 100%;
    transition: all .5s;
}

.desc {
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    padding: .5rem;
    opacity: 0.6;
    background-color: black;
    color: white;
}

.productId {
    position: absolute;
    top: 4px;
    width: 100%;
    text-align: center;
    padding: .5rem;
    opacity: 0.6;
    background-color: black;
    color: white;
}

.top {
    width: 100%;
    margin-top: 5%;
}

@media screen and (max-width: 930px) {
    .overlay {
        display: none;
    }
}