<div class="container">
    <img class="overlay" src="assets/images/top-img.png" alt="top-image">
</div>
<div #gridView>
    <mat-grid-list [gridCols]="{xs: 1, sm: 1, md: 2, lg: 3, xl: 4}" gutterSize="5rem" rowHeight="25rem">
        <mat-grid-tile *ngFor="let product of products" (click)="onLoadProduct(product.id, product.name)">
            <div class="productId">ID: {{ product.productId }}</div>
            <img class="grid-item" src="{{ product.image }}" alt="{{ product.name }}">
            <div class="desc">{{ product.name }}</div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
