* {
    font-family: 'Trebuchet MS';
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
}

.logo {
    max-height: 100%;
    border-radius: 40%;
}

.main-container div:last-child {
    margin-left: auto;
}

.social-media-icons>a>img {
    height: 40px;
    width: 40px;
}

.social-media-icons>a {
    margin: .5rem;
}

.nav-links {
    border: none;
}

.mat-button-toggle {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10%;
    padding: .5rem;
    text-decoration: none;
    color: red;
}

@media screen and (max-width: 900px) {
    .mat-button-toggle {
        font-size: 1.5em;
        padding: 0;
    }
    .social-media-icons>a {
        display: none;
    }
    .logo {
        display: none;
    }
}
