<div class="main-container">
    <img class="logo" [src]="logoImgPath" alt="logo" [ngStyle]="{cursor: 'pointer'}" (click)="homePage()">
    <div class="app-pages">
        <mat-button-toggle-group class="nav-links" [(ngModel)]="selected">
            <mat-button-toggle style="border: none;" value="home" (click)="navigateToPage('/', 'Jonathan Krown Art')">Home</mat-button-toggle>
            <mat-button-toggle style="border: none;" value="cart" (click)="navigateToPage('cart', 'My Cart')">Cart<span matBadge="{{cartQuantity}}" [matBadgeHidden]="hidden" matBadgeOverlap="false"></span></mat-button-toggle>
            <mat-button-toggle style="border: none;" value="contact" (click)="navigateToPage('contact', 'Have Questions?')">Contact</mat-button-toggle>
            <mat-button-toggle style="border: none;" value="userMessages" (click)="navigateToPage('userMessages', 'Mailbox')">Messages</mat-button-toggle>
            <mat-button-toggle style="border: none;" value="orders" (click)="navigateToPage('orders', 'Customer Orders')">Orders</mat-button-toggle>
            <mat-button-toggle style="border: none;" value="login" (click)="navigateToPage('login', 'Sign In to your Account')">Log in</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="social-media-icons">
        <a [href]="facebookHref" target="_blank"><img class="smedia" [src]="facebookImgSrc" alt="facebook"></a>
        <a [href]="instagramHref" target="_blank"><img class="smedia" [src]="instagramImgSrc" alt="instagram"></a>
        <a [href]="linkedinHref" target="_blank"><img class="smedia" [src]="linkedinImgSrc" alt="linkedin"></a>
    </div>
</div>